* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;
}

.app {
  width: 700px;
  flex-direction: column;
  margin: 50px auto;
}

.display {
  width: 100%;
  background-color: #858693;
  height: 100px;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 80px;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-panel {
  flex-direction: column;
  width: 100%;
}

.row {
  height: 100px;
  width: 100%;
}

button {
  height: 100%;
  width: 25%;
  text-align: center;
  color: black;
  border: 1px solid #d1d1d1;
  font-size: 35px;
  cursor: pointer;
  outline: none;
}

button:hover {  
  color: gray;
}